<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <title>Sequelette Vue.js</title>
</head>

<body>
    <h2> 15. Un tableau dans le modèle
    </h2>
   <div id="app">
    <p>Cochez las cases des langages que vous connaissez : </p>
    <input type="checkbox" value="HTML" v-model="cases">HTML
    <input type="checkbox" value="CSS" v-model="cases">CSS
    <input type="checkbox" value="JavaScript" v-model="cases">JavaScript
    <p>Cases cochées : {{cases}}</p>

    </div>
    <script>
        new Vue({
            el: "#app",
            data: {
                cases: []
            }
        });
    </script>

</body>

</html>